<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Codigo QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Codigo QR</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Boton Slide -->
  <div class="slide-toggle-container">
    <mat-slide-toggle>Enviar por correo</mat-slide-toggle>
  </div>


</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>
      Gym Planner Chile ©
    </ion-title>
  </ion-toolbar>
</ion-footer>
