.ion-card-title {
    font-size: small;
}

ion-icon {
    margin-right: 8%;
}

#iconoPerfil {
    margin-left: 35%;
    font-size: 100px;
    align-self: center;
    color: #ffd700;
}

.slide-toggle-container {
    position: absolute;
    bottom: 0;
    width: 100%; 
  }
