#iconoPerfil {
    margin-left: 35%;
    font-size: 100px;
    align-self: center;
    color: #ffd700;
}

ion-card-title {
    text-align: center;
}

#open-toast {
    width: 50%;
    margin-left: 23%;
    margin-bottom: 55px;
}

